.btn {
  width: 260px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

  &-green {
    color: $form-button-color;
    background-color: $form-button-bg;
    border: 2px solid $form-button-border;

    &:not(:disabled){
      &:hover {
        background-color: transparent;
        color: $form-button-hover-color;
      }
    }
  }

  &:disabled {
    cursor: no-drop;
  }
}