.form {
  width: 100%;
  margin: auto;

  &-group {
    width: 100%;
  }

  &-input {
    width: 100%;
    margin-bottom: 15px;

    input {
      border-bottom: 2px solid $form-input-bottom;
      background-color: transparent;
      outline: none;
      width: 100%;
      height: 32px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}