@import './variables.scss';
@import './button.scss';
@import './form.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-grey {
  background-color: #f8f8f8;
}

.bg-dark-grey {
  background-color: #4a4a4a;
}

.bg-green {
  background-color: #229966;
}

.section-container {
  height: calc(100vh - 108px);
  display: flex;

  .section-title {
    color: #656465;
    font-size: 17px;
    font-weight: bold;
    height: 90px;
  }
}

.section-content {
  max-width: 460px;
  width: 90%;
  margin: 160px auto 0;
}



@media screen and (min-width: 768px) {
  .hidedesktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hidemobile {
    display: none;
  }

  .section-content {
    margin-top: 65px;
  }

  .section-container {
    height: calc(100vh - 84px);

    .section-title {
      font-size: 14px;
      height: 80px;
    }
  }
}