$primary-color: #229966;
$secondary-color: #f0f1ef;
$third-color: white;
$fourth-color: #4a4a4a;

$step-tail-dark-grey: $fourth-color;
$step-tail-active-dark-grey: $fourth-color;

$step-tail-grey: $secondary-color;
$step-tail-active-green: $primary-color;

$form-input-bottom: $primary-color;
$form-button-bg: $primary-color;
$form-button-hover-bg: $third-color;
$form-button-border: $primary-color;
$form-button-color: $third-color;
$form-button-hover-color: $primary-color;