@import '../../Styles/variables.scss';

.header {
  padding: 25px 0 20px;
}

.steps {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 415px;
  margin: auto;

  &.steps-green {
    .steps-item {
      &-content {
        color: $primary-color;

        &:before {
          background-color: $step-tail-grey;
        }
      }

      &-tail {
        background-color: $step-tail-grey;
      }

      &-process {
        .steps-item-content:before {
          background-color: $step-tail-active-green;
        }
      }

      &-finish {
        @extend .steps-item-process;

        .steps-item-tail {
          background-color: $step-tail-active-green;
        }
      }
    }
  }

  &.steps-grey {
    .steps-item {
      &-content {
        &:before {
          background-color: $step-tail-dark-grey;
        }
      }

      &-tail {
        background-color: $step-tail-dark-grey;
      }

      &-process {
        .steps-item-content:before {
          background-color: $step-tail-active-dark-grey;
        }
      }

      &-finish {
        @extend .steps-item-process;
      }
    }
  }

  &-item {
    position: relative;
    flex: 1;

    &-tail {
      position: absolute;
      top: 12px;
      left: 45%;
      width: 90%;
      padding: 0 10px;
      width: 100%;
      height: 10px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      font-size: 13px;

      &:before {
        position: relative;
        z-index: 2;
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
        border-radius: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 2px solid #c8c8c8;
  }

  .steps {
    &-item {
      &-number {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 22px 0 17px;
  }

  .steps {
    height: 45px;
    align-items: center;

    &-item {
      &:not(.steps-item-process) {
        display: none;
      }

      &-tail {
        display: none;
      }

      &-number {
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        color: $primary-color;
      }

      &-content {
        font-size: 25px;

        &:before {
          display: none;
        }
      }
    }
  }
}