.result {
  &-container {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    text-align: center;
  }

  &-message {
    margin: 120px 0 0;
    height: 140px;

    &-title {
      margin: 0 0 35px;
      font-size: 30px;
      color: white;
    }

    &-subtitle {
      color: white;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
  }
}

.result-item {
  font-size: 25px;
  color: white;

  strong {
    font-size: 30px;
    font-weight: bold;
  }

  small {
    font-size: 15px;
    vertical-align: super;
  }
}

@media screen and (max-width: 768px) {
  .result {
    &-item {
      margin-bottom: 25px;
    }

    &-details {
      flex-direction: column;
    }

    &-lower-value {
      margin-top: 70px;
      font-size: 14px;
      font-weight: bold;
      color: white;
    }

    &-message {
      margin-top: 65px;
      height: 110px;

      &-title {
        font-size: 20px;
      }
    }
  }
}